html {
  font-size: 14px;
  line-height: 1.8; }

/*  Text */
.text-display-x-large {
  font-size: 35px;
  font-weight: 500 / medium;
  letter-spacing: -0.01em;
  color: #172B4D; }

/* Empty states and feature introductions. Top level headers. */
.text-display-large {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500; }

.text-display-medium {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 10px; }

.text-display-small {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400; }

.text-page-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600; }

.text-heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500; }

.text-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: -25px;
  margin-bottom: 25px;
  color: #505F79; }

/* Icons */
.icon-small {
  font-size: 16px; }

.icon-medium {
  font-size: 16px; }

.icon-large {
  font-size: 32px; }

html {
  /*  
    Load system fonts

    Apple devices will display San Francisco
    Android devices will display Roboto
    Devices running Windows will display Segoe UI
    Machines running Linux will display the default sans-serif font for any running distribution
  */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Deactivate auto-enlargement of small text in Safari */
  text-size-adjust: 100%;
  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
  color: #172B4D; }

/**
 * Form elements render using OS defaults,
 * so font-family inheritance must be specifically declared
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; }
