.btn {
  color: $N0;
  width: 200px;
  border: none;
  padding: 0.5rem;
  background-color: $B400;
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.btn-img {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}